@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */
body {
	margin: 1.25rem;
}

.hide-content {
	display: none;
}

.title-container {
	text-align: center;
}

.header-card {
	margin: 1.25rem;
}

.header-card .mat-card-header {
	justify-content: center;
}

.header-card .mat-card-title {
	font-weight: bold;
	font-size: 1.5em;
	line-height: normal;
}

.header-card .mat-card-actions {
	text-align: center;
}

input {
	border: 0 !important;
}

form {
	display: flex;
	flex-direction: column;
}

form > mat-form-field {
	margin-bottom: 36px;
}

form > * {
	width: 100%;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
	padding: 0.3em !important;
}

.mat-form-field-label {
	left: 10px !important;
}

.login-btn,
.register-btn {
	margin: 0.5rem;
	align-self: center;
}

.score-btn a {
	color: white;
}

.counter-container {
	text-align: center;
	font-size: 3rem;
	font-weight: bold;
}

.progressbar-container {
	margin: 1.25rem;
}

.nav-container {
	text-align: center;
}

.score-btn,
.logout-btn {
	margin: 1rem;
}

.table-scores-container {
	margin: 1.25em;
}

.table-scores-container .score-container {
	margin: 0.7em;
	padding: 0.3em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid lightgrey;
}

.table-scores-container .score-container .score {
	font-size: 1.2em;
	font-weight: bold;
}

.table-scores-container .score-container .user {
	font-size: 0.9em;
	text-align: right;
	flex-grow: 1;
}

.demo-full-width {
	width: 100%;
}
